<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <!--<div class="sidebar-ios">
       <br>

        <h4>Our Blogs</h4>
        <textarea style="opacity:0;" id="paste-box" rows="1" cols="30"></textarea>
        <ol>
          {% for blog in bloga %}
          <li class="mt-1" ><a href="{{blog.slug}}">{{blog.blog_title}},<span class="text-iossuccess" style='font-size:small'>{{blog.date}}</span></a>
        </li>
        <hr class="hr">
        {% endfor %}
        </ol>
       
        <h4 class="mt-3">Top Charts</h4>

        <ol>
          {% for top in top_charts %}
          <li class="mt-1" ><a href="{{top.slug}}">{{top.blog_title}},<span class="text-iossuccess" style='font-size:small'>{{top.date}}</span></a>
          </li>
          <hr class="hr">
        {% endfor %}
      </ol>
       
      </div>-->
    </div>
    <div class="col-md-6">
      
    </div>
    </div>
    <div class="col-md-2"></div>
  </div>