<div class="social-login-btns">
    <div class="apple-login">
        <button class="buttons apple"><i class="fa fa-apple" aria-hidden="true"></i> Sign in with Apple</button>
    </div>
    <div class="google-login">
    <button class="buttons google text-primary"><i class="fa fa-google" aria-hidden="true"></i> Sign in with Google</button>
    </div>
    <div class="facebook-login">
        <button class="buttons facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Sign in with Facebook</button>
    </div>
    <div class="twitter-login">
        <button class="buttons twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Sign in with Twitter</button>
    </div>
</div>