<br />
<div class="container-fluid mt-4 pt-3 pb-1 bg-dark text-light">
    <div class="container text-center mb-3 bg-dark">
        theparadisecreations &copy; 2021
        
      </div>
      <div class="container bg-dark">
  <div class="row mb-2">
    <div class="col-md-6">
      
      <div
        class="container mt-2 text-white bg-dark" style="display: flex; flex:1; justify-content:space-between;"
      >
        <a href="{% url 'home' %}" class="text-light">Home</a>
        <a href="{% url 'blog' %}" class="text-light">Blog</a>
        <a href="{% url 'services' %}" class="text-light">Services</a>
        <a href="" class="text-light">Top</a>
      </div>
     
    </div>
    
    <div class="col-md-6 mt-2">
        <div class="container-fluid bg-dark mr-2 text-center">
          Connect
          <a href="https://www.facebook.com/The.Paradise.Creations"><i class="fa fa-facebook mx-3 text-light" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/the_paradise_creations/" ><i class="fa fa-instagram mx-3 text-light" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/channel/UCcHJTxed3jLCzGfziiFn2Cg"><i class="fa fa-youtube-play mx-3 text-light" aria-hidden="true"></i></a>
          </div>
    </div>
  </div></div>
  <div class="container mt-1 text-center bg-dark">
    This website is created by <a href="" class="font-weight-bold">JWD</a>
    <p>JWD <span class="text-iosprimary font-weight-bold">Pro</span></p>

    <p><i class="fa fa-map-marker    "></i> VPO Nag Kalan,Majitha Road, Amritsar, 143601</p>
  </div>

  
  
</div>
