<div class="header-section">

    <div class="row">
        <div class="col-md-6 ">
            <div class="text-in-header" >
                <h1 class="header-heading">At Your Glance.</h1>
                <p class="header-para">Discover Stories,News and Writters.</p>
                <a href="#top"><button class="start-reading">Start Reading</button></a>
                <a href="/blogs/create/new/"><button class="start-reading mx-2">Create Post</button></a>

            </div>
            
        </div>
        <div class="col-md-6 ">
            <div class="grid-animations text-in-header hide-mobile">
                <div class="row">
                    <div class="col-md-3"><div class="grid-elem">
                        <div class="shape"><i class="fa fa-circle" aria-hidden="true"></i></div>
                    </div></div>
                    <div class="col-md-3"><div class="grid-elem">

                        <div class="shape"><i class="fa fa-square" aria-hidden="true"></i></div>

                    </div>
                </div>
                <div class="col-md-3"><div class="grid-elem">

                    <div class="shape"><i class="fa fa-close" aria-hidden="true"></i></div>

                </div>
            </div>
            <div class="col-md-3"><div class="grid-elem">

                <div class="shape"><i class="fa fa-star" aria-hidden="true"></i></div>

            </div>
        </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-3"><div class="grid-elem">
                        <div class="shape"><i class="fa fa-close" aria-hidden="true"></i></div>
                    </div></div>
                    <div class="col-md-3"><div class="grid-elem">

                        <div class="shape"><i class="fa fa-circle" aria-hidden="true"></i></div>

                    </div>
                </div>
                <div class="col-md-3"><div class="grid-elem">

                    <div class="shape"><i class="fa fa-star" aria-hidden="true"></i></div>

                </div>
            </div>
            <div class="col-md-3"><div class="grid-elem">

                <div class="shape"><i class="fa fa-square" aria-hidden="true"></i></div>

            </div>
        </div>
                </div>


                
            </div>
        </div>
    </div>

</div>